MONGODB_URI=your_mongodb_connection_string
DATABASE_NAME=enterprise_knowledge_assistant

SECRET_KEY=your_secret_key
ALGORITHM=your_jwt_algorithm
ACCESS_TOKEN_EXPIRE_MINUTES=30

GOOGLE_API_KEY=your_google_api_key